.container {
    background-color:white;
}

.visuals {
    margin: 10px;
    max-width:100%;
    height:auto;
}

 .mainVisual {
    width: 50%;;
    height:auto;
}

.visualizationView {
    width:100%;
    height: auto;
    padding: 0% 5% 0% 5%;
    margin: 1px;
}

.highlight {
    padding: 1px;
    background-color: black;
}

.sectionHeader {
    font-weight: bold;
    font-size: 40px;
}